# MIT License
# Copyright (C) 2020 Tymko Oleg <olegtymko@yandex.ru> and contributors
# All rights reserved.

name: Тестирование
# Любой пуш и pr в проекте
on: [push, pull_request]

env:
  # отключение безопасности установки, от 2020-10-01
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Загрузка проекта
      - name: Актуализация
        uses: actions/checkout@v2

      # Установка OneScript конкретной версии
      - name: Установка OneScript
        uses: otymko/setup-onescript@v1.0
        with:
          version: 1.8.0

      # Установка зависимостей пакета
      - name: Установка зависимостей
        run: |
          opm install opm
          opm install --dev

      - name: Сборка
        run: |
          opm build
          opm install -f mutagen-0.0.1.ospx
          
      # Задача тестирования, в результате ожидается успешное выполнение
      - name: Тестирование
        run: oscript ./tasks/test.os

      - name: Мутанты
        run: oscript /src/main.os run ./mutagen.json

      - name: Артефакты сборки
        uses: actions/upload-artifact@v3
        with:
          name: survived-mutants
          path: build/*.os